
<div class="row">
  <div class="col col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">My events</h3>
      </div>
      <div class="panel-body">
        <ul class="list-event">
          <div class="well" style="text-align:center;" ng-if="noevents">
            <p>You currently do not have any pilot events.</p>
          </div>
          <li class="list-event-item" ng-repeat="event in events"><a ui-sref="event.view({eventId: event._id})">{{ event.data.title }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-body">
        <button class="btn btn-primary btn-block" ui-sref="find()"><i class="fa fa-camera"></i> Join event pilot</button>
        <button class="btn btn-primary btn-block" ui-sref="eventCreate()"><i class="fa fa-plus"></i> Start event pilot</button>
      </div>
    </div>
  </div>
</div>
